redis {
url{
    rateLimit=500
    db = 0
//    password = "123456"
    port=6379
    nodes = [
        "127.0.0.1"
    ]}
    tag{
        rateLimit=500
        db = 0
    //    password = "123456"
        port=6379
        nodes = [
            "127.0.0.1"
        ]
    }
}

ignite {

    ip = "127.0.0.1"
    port = 48500
    cacheName = rkrcache
    nodes = ["127.0.0.1:48500"]
    ttl = 12
    ttlForNotInRedis = 1
    guavaNotInRedis = 3000000
}

rest {
    redisMaxRate=10000
    port = 7070
    ip = 0.0.0.0
    path = cache
}
